@{
    ViewData["Title"] = "About";
}


    <div class="global-container">
        <div class="global-content">

            <div class="container">              

                <h1 class="kb-title">DOTNETFLIX Corporate Information</h1>

                <div class="pane-wrapper">

                        <section>
                            <div class="page-block">
                                <div class="c-wrapper">
                                    <div>
                                        <p>
                                            DOTNETFLIX serves members in many different countries. The DOTNETFLIX entity that provides you with access to the DOTNETFLIX service and qualifies as your data controller depends on your country of membership, and will be listed in your membership
                                            or payment confirmation email.
                                        </p>
                                        <p>DOTNETFLIX, Inc.<br>175 68 Stockholm<br>Phone: +11 11.111.111<br>Email: fake@fake.com<br>Sweden</p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </section>                 
                </div>
            </div>
        </div>
    </div>