@{
    ViewData["Title"] = "Cookies Policy";
}



    <div class="container-fluid page-header__hero-title">
        <div class="row padding-reset">
            <div class="col-lg-9 ">
                <div class="field field-name-title field--title"><div class="field__items"><h1>Cookies policy</h1></div></div><div class="field field-name-field-core-introduction field--wysiwyg field--field-core-introduction">
                    <div class="field__items">
                        <p>To make Commission websites work properly, we sometimes place small data files called cookies on your device.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="page-content">
        <a id="main-content" tabindex="-1"></a>


        <div class="container-fluid">

            <div class="row">


                <div class="col-md-3 col-sm-12 section region-sidebar-first">
                    <div class="field field-name-in-page-navigation field--in-page-navigation">
                        <div class="field__items">
                            <div class="section inpage-nav__wrapper">
                                <span class="h3 block__title inpage-nav__block-title">Page Contents</span>
                                <div class="inpage-nav is-scrollspy-target page-navigation-processed">
                                    <ul class="nav inpage-nav__list">
                                        <li class=""><a href="#whatarecookies" class="inpage_nav__list-item">What are cookies?</a></li>
                                        <li class=""><a href="#howdoweusecookies" class="inpage_nav__list-item">How do we use cookies?</a></li>
                                        <li class=""><a href="#thirdpartycookies" class="inpage_nav__list-item">Third-party cookies</a></li>
                                        <li class=""><a href="#howcanyoumanagecookies" class="inpage_nav__list-item">How can you manage cookies?</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="col-sm-12 section col-md-9">
                    <div class="section__group ">
                        <div class="field field-name-body field--wysiwyg field--body">
                            <div class="field__items">
                                <h2 id="whatarecookies">What are cookies?</h2>

                                <p>A cookie is a small text file that a website stores on your computer or mobile device when you visit the site.</p>

                                <ul>
                                    <li><strong>First party cookies</strong>&nbsp;are cookies set by the website you’re visiting. Only that website can read them. In addition, a website might potentially use external services, which also set their own cookies, known as <strong>third-party cookies.</strong></li>
                                    <li>Persistent cookies&nbsp;are cookies saved on your computer and that are not deleted automatically when you quit your browser, unlike a&nbsp;session cookie,&nbsp;which is deleted when you quit your browser.</li>
                                </ul>

                                <p>Every time you visit the Commission’s websites, you will be prompted to <strong>accept or refuse cookies.</strong></p>

                                <p>The purpose is to enable the site to remember your preferences (such as user name, language, etc.) for a certain period of time.</p>

                                <p>That way, you don’t have to re-enter them when browsing around the site during the same visit.</p>

                                <p>Cookies can also be used to establish anonymised statistics about the browsing experience on our sites.</p>

                                <h2 id="howdoweusecookies">How do we use cookies?</h2>

                                <p>European Commission websites mostly use “first-party cookies”. These are cookies set and controlled by the Commission, not by any external organisation.</p>

                                <p>However, to view some of our pages, you will have to accept cookies from external organisations. &nbsp;</p>

                                <p>The <strong>3 types of first-party cookie</strong> we use are to:</p>

                                <ul>
                                    <li>store visitor preferences</li>
                                    <li>make our websites operational</li>
                                    <li>gather analytics data (about user behaviour)</li>
                                </ul>

                                <p><strong>Visitor preferences</strong></p>

                                <p>These are set by us and only we can read them. They remember:</p>

                                <ul>
                                    <li>if you have agreed to (or refused) this site’s cookie policy</li>
                                    <li>if you have already replied to our survey pop-up (about how helpful the site content was) – so you won't be asked again</li>
                                </ul>

                                <table align="left" class="table-responsive" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Purpose</th>
                                            <th scope="col">Cookie type and duration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-th="Name">eu_cookie_consent</td>
                                            <td data-th="Service">Cookie consent kit</td>
                                            <td data-th="Purpose">Stores your cookie preferences (so you won’t be asked again)</td>
                                            <td data-th="Cookie type and duration">First-party session cookie deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">ecsi</td>
                                            <td data-th="Service">Website survey tools</td>
                                            <td data-th="Purpose">Stores information on whether you have already replied to a survey pop-up – so you won't be asked again.</td>
                                            <td data-th="Cookie type and duration">First-party persistent cookie, 1 month</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">cck3</td>
                                            <td data-th="Service">Cookie consent kit</td>
                                            <td data-th="Purpose">Stores your preferences for 3rd-party cookies (so you won't be asked again)</td>
                                            <td data-th="Cookie type and duration">First-party session cookie deleted after you quit your browser</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <p><strong>Operational cookies</strong></p>

                                <p>There are some cookies that we have to include in order for certain web pages to function. For this reason, they do not require your consent. In particular:</p>

                                <ul>
                                    <li><strong>authentication cookies</strong></li>
                                    <li><strong>technical cookies</strong> required by certain IT systems</li>
                                </ul>

                                <p><strong>Authentication cookies</strong></p>

                                <p>These are stored when you log in to a Commission site, using our <a href="https://webgate.ec.europa.eu/cas/about.html">authentication service (EU Login)</a>. When you do this, you accept the associated <a href="https://webgate.ec.europa.eu/cas/privacyStatement.html">privacy policy</a>.</p>

                                <table align="left" class="table-responsive" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Purpose</th>
                                            <th scope="col">Cookie type and duration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-th="Name">MyECASDomain</td>
                                            <td data-th="Service">Identity Management Service</td>
                                            <td data-th="Purpose">Remembers your domain</td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">__Secure_CASTGC</td>
                                            <td data-th="Service">Identity Management Service</td>
                                            <td data-th="Purpose">Identifies your session</td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">__Secure_ECAS_SESSIONID</td>
                                            <td data-th="Service">Identity Management Service</td>
                                            <td data-th="Purpose">Identifies the current Central Authentication Service session</td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">ECAS_PREFS</td>
                                            <td data-th="Service">Identity Management Service</td>
                                            <td data-th="Purpose">
                                                <p>Remembers your settings and preferences:</p>
                                                user id, user name, acknowledged cookie policy, high contrast mode, privacy mode, view account details after login, last strength selected
                                            </td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">CASPRIVACY</td>
                                            <td data-th="Service">
                                                <p>EURES The European Job Mobility Portal</p>
                                            </td>
                                            <td data-th="Purpose">EURES Authentication info</td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">CASTGC</td>
                                            <td data-th="Service">
                                                <p>EURES The European Job Mobility Portal</p>
                                            </td>
                                            <td data-th="Purpose">EURES Authentication info</td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">EURES_CAS_LOGGED_IN</td>
                                            <td data-th="Service">
                                                <p>EURES The European Job Mobility Portal</p>
                                            </td>
                                            <td data-th="Purpose">EURES Authentication info</td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <p>The names of these cookies may change, for technical reasons (particularly <strong>__Secure-CASTGC</strong> and <strong>__Secure-ECAS_SESSIONID</strong>).</p>

                                <p>&nbsp;</p>

                                <p><strong>Technical cookies</strong></p>

                                <table align="left" class="table-responsive" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Purpose</th>
                                            <th scope="col">Cookie type and duration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-th="Name">has_js</td>
                                            <td data-th="Service">Corporate content management platform, based on Drupal open source software</td>
                                            <td data-th="Purpose">
                                                <p>Determines whether Javascript is enabled in your browser.</p>
                                                This allows our websites to function properly.
                                            </td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">JSESSIONID / CFID / CFTOKEN</td>
                                            <td data-th="Service">Java IT platform / Coldfusion IT platform</td>
                                            <td data-th="Purpose">Maintain a secure session for you, during your visit.</td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">ecsi</td>
                                            <td data-th="Service">Website survey tools</td>
                                            <td data-th="Purpose">Stores information on whether you have already replied to a survey pop-up – so you won't be asked again.</td>
                                            <td data-th="Cookie type and duration">
                                                <p>First-party persistent cookie, 1 month</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">theoplayer-session-id</td>
                                            <td data-th="Service">Audiovisual Service video player</td>
                                            <td data-th="Purpose">Enables the player’s own analytics, currently not used.</td>
                                            <td data-th="Cookie type and duration">localStorage Key, persistent data</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">theoplayer-stored-network-info</td>
                                            <td data-th="Service">Audiovisual Service video player</td>
                                            <td data-th="Purpose">Enables the player’s bandwidth estimate to determine the best initial bandwidth and enhance the user experience.</td>
                                            <td data-th="Cookie type and duration">
                                                <p>localStorage Key, persistent data</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">EURES_CVO_SESSION_ID</td>
                                            <td data-th="Service">
                                                <p>EURES The European Job Mobility Portal</p>
                                            </td>
                                            <td data-th="Purpose">EURES Session info</td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">EURES_JVSE_SESSIONID</td>
                                            <td data-th="Service">
                                                <p>EURES The European Job Mobility Portal</p>
                                            </td>
                                            <td data-th="Purpose">EURES Session info</td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">EURES_LF_MARKETPLACE_SESSIONID</td>
                                            <td data-th="Service">
                                                <p>EURES The European Job Mobility Portal</p>
                                            </td>
                                            <td data-th="Purpose">EURES Session info for Liferay</td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">EURES_LF_PLUGINS_SESSIONID</td>
                                            <td data-th="Service">
                                                <p>EURES The European Job Mobility Portal</p>
                                            </td>
                                            <td data-th="Purpose">EURES Session info for Liferay</td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">LFR_SESSION_STATE_xxxxx</td>
                                            <td data-th="Service">
                                                <p>EURES The European Job Mobility Portal</p>
                                            </td>
                                            <td data-th="Purpose">EURES Session info for Liferay</td>
                                            <td data-th="Cookie type and duration">First-party session cookie, deleted after you quit your browser</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">cck1atlassian-analytics.confluence.lock</td>
                                            <td data-th="Service">Public wikis</td>
                                            <td data-th="Purpose">Keeps Confluence analytics disabled</td>
                                            <td data-th="Cookie type and duration">
                                                <p>localStorage Key, persistent data</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">confluence.sidebar.width</td>
                                            <td data-th="Service">Public wikis</td>
                                            <td data-th="Purpose">Remembers the width of the sidebar</td>
                                            <td data-th="Cookie type and duration">
                                                <p>localStorage Key, persistent data</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">jquery.feature.detection.cache</td>
                                            <td data-th="Service">Public wikis</td>
                                            <td data-th="Purpose">Detects when a page is loaded from the browser cache</td>
                                            <td data-th="Cookie type and duration">
                                                <p>localStorage Key, persistent data</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">jquery.feature.detection.cache.useragent</td>
                                            <td data-th="Service">Public wikis</td>
                                            <td data-th="Purpose">Remembers if a certain feature is available in the browser.</td>
                                            <td data-th="Cookie type and duration">
                                                <p>localStorage Key, persistent data</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <p>&nbsp;</p>

                                <p><strong>Analytics cookies</strong></p>

                                <p>We use these purely for internal research on how we can improve the service we provide for all our users.</p>

                                <p>The cookies simply assess how you interact with our website – as an anonymous user (the&nbsp;<strong>data gathered does not identify you personally</strong>).</p>

                                <p>Also, this data is <strong>not shared with any third parties</strong> or used for any other purpose. The anonymised statistics could be shared with contractors working on communication projects under contractual agreement with the Commission.</p>

                                <p>However, you are <strong>free to refuse</strong> these types of cookies – either via the cookie banner you’ll see on the first page you visit or at <a href="https://ec.europa.eu/info/privacy-policy/europa-analytics_en">Europa Analytics</a>.</p>

                                <table align="left" class="table-responsive" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Purpose</th>
                                            <th scope="col">Cookie type and duration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-th="Name">_pk_id#</td>
                                            <td data-th="Service">Corporate web analytics service, based on Matomo open source software</td>
                                            <td data-th="Purpose">Recognises website visitors (<strong>anonymously </strong>– no personal information is collected on the user).</td>
                                            <td data-th="Cookie type and duration">First-party persistent cookie, 13 months</td>
                                        </tr>
                                        <tr>
                                            <td data-th="Name">_pk_ses#</td>
                                            <td data-th="Service">Corporate web analytics service, based on Matomo open source software</td>
                                            <td data-th="Purpose">
                                                <p>Identifies the pages viewed by the same user during the same visit.</p>
                                                (<strong>anonymously</strong> – no personal information is collected on the user).
                                            </td>
                                            <td data-th="Cookie type and duration">First-party persistent cookie, 30 minutes</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h2 id="thirdpartycookies">Third-party cookies</h2>

                                <p>Some of our pages display content from external providers, e.g. YouTube, Facebook and Twitter.</p>

                                <p>To view this third-party content, you first have to accept their specific terms and conditions. This includes their cookie policies, which we have no control over.</p>

                                <p>But if you do not view this content, no third-party cookies are installed on your device.</p>

                                <p><strong>Third-party providers on Commission websites</strong></p>

                                <p>
                                    <a href="https://www.youtube.com/t/terms">You Tube</a><br>
                                    <a href="https://archive.org/about/terms.php">Internet Archive</a><br>
                                    <a href="https://www.google.com/intl/en_be/help/terms_maps/">Google Maps</a><br>
                                    <a href="https://twitter.com/en/tos?wcmmode=disabled#intlTerms">Twitter</a><br>
                                    <a href="https://www.tv1.eu/en/datenschutz/">TV1</a><br>
                                    <a href="https://vimeo.com/terms">Vimeo</a><br>
                                    <a href="https://www.microsoft.com/en/servicesagreement/">Microsoft</a><br>
                                    <a href="https://www.facebook.com/legal/terms">Facebook</a><br>
                                    <a href="https://policies.google.com/terms?hl=en&amp;gl=be">Google</a><br>
                                    <a href="https://www.linkedin.com/legal/user-agreement">LinkedIn</a><br>
                                    <a href="https://livestream.com/legal/terms">Livestream</a><br>
                                    <a href="https://soundcloud.com/pages/privacy">SoundCloud</a><br>
                                    <a href="http://www.europarl.europa.eu/portal/en/legal-notice">European Parliament</a>
                                </p>

                                <p>These third-party services are outside of the control of the Commission. Providers may, at any time, change their terms of service, purpose and use of cookies, etc.</p>

                                <h2 id="howcanyoumanagecookies">How can you manage cookies?</h2>

                                <p>You can <strong>manage/delete</strong> cookies as you wish - for details, see <a href="https://www.aboutcookies.org/">aboutcookies.org</a>.</p>

                                <p><strong>Removing cookies from your device</strong></p>

                                <p>You can delete all cookies that are already on your device by clearing the browsing history of your browser. This will remove all cookies from all websites you have visited.</p>

                                <p>Be aware though that you may also lose some saved information (e.g. saved login details, site preferences).</p>

                                <p><strong>Managing site-specific cookies</strong></p>

                                <p>For more detailed control over site-specific cookies, check the privacy and cookie settings in your preferred browser</p>

                                <p><strong>Blocking cookies</strong></p>

                                <p>You can set most modern browsers to prevent any cookies being placed on your device, but you may then have to manually adjust some preferences every time you visit a site/page. And some services and functionalities may not work properly at all (e.g. profile logging-in).</p>

                                <p><strong>Managing our analytics cookies</strong></p>

                                <p>You can manage your preferences concerning cookies from Europa Analytics on the dedicated <a href="https://ec.europa.eu/info/privacy-policy/europa-analytics_en">Europa Analytics</a> page.</p>
                            </div>
                        </div>
                    </div>
                </section>

            </div>


        </div>
    </div>