@{
    ViewData["Title"] = "Covid";
}

<div class="global-content">

    <div class="container">



        <h1 class="kb-title">DOTNETFLIX Customer Service during the COVID-19 Crisis</h1>


        <div class="pane-wrapper">

            <div class="left-pane">

                <section>
                    <div class="page-block">
                        <div class="c-wrapper">
                            <div>
                                <p>
                                    The COVID-19 crisis has meant that thousands of our customer support agents are unable to work, or are now having to work from home. We’ve had to reduce our support hours so our wait times may be higher than normal. We’re working hard to provide
                                    the best support we can under the circumstances, and apologize for the delays you may be experiencing.&nbsp;
                                </p>
                                <p>
                                    We’re offering live chat and online <a asp-area="" asp-controller="Home" asp-action="Privacy">Help Center </a>support globally.&nbsp; We have phone support available in some regions.&nbsp;Support services will vary depending on the country you’re in - and as we continue
                                    to adjust with what works best given the current crisis.
                                </p>
                                <p>Your support is very important to DOTNETFLIX. So we’re sorry for the inconvenience and appreciate your patience while we work through these issues. </p>
                                <p><br></p>
                            </div>
                        </div>
                    </div>


                </section>




            </div>

            <div class="right-pane">
                <div class="wrapper page-block">

                    <h3>Suggested Articles</h3>
                    <ul class="related-articles">
                        <li class="related-article">
                            <a target="_blank" href="/en/node/41049?rel=related" data-id="41049" data-index="1">Netflix Billing and Payments</a>
                        </li>
                        <li class="related-article">
                            <a target="_blank" href="/en/node/54816?rel=related" data-id="54816" data-index="2">Downloading TV shows and movies on Netflix</a>
                        </li>
                        <li class="related-article">
                            <a target="_blank" href="/en/node/10421?rel=related" data-id="10421" data-index="3">How to create and edit profiles</a>
                        </li>
                        <li class="related-article">
                            <a target="_blank" href="/en/node/461?rel=related" data-id="461" data-index="4">Why isn't Netflix working?</a>
                        </li>
                        <li class="related-article">
                            <a target="_blank" href="/en/node/47765?rel=related" data-id="47765" data-index="5">How do I find TV shows and movies on Netflix?</a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>


        <div id="article-feedback-container"><div class="article-feedback"><div class="feedback-prompt"><div class="feedback-header">Was this article helpful?</div><div class="prompt-buttons"><button class="btn btn-secondary">Yes</button><button class="btn btn-secondary">No</button></div></div></div></div>
    </div>

</div>