@{
    ViewData["Title"] = "Profile Privacy Notice";
}





<div class="container">


    <h1 class="kb-title">Profile Privacy Notice</h1>






    <div class="pane-wrapper">

        <div class="left-pane">



            <section class="kb-article select-country gradient" style="display: none;">
                A country must be selected to view content in this article.
            </section>







            <section dir="LTR" class="kb-article kb-article-variant gradient">
                <div class="page-block">
                    <div class="c-wrapper">
                        <div>
                            <p>
                                This Profile Privacy Notice explains our practices, including your choices, regarding the collection, use, and disclosure of certain information, including your personal information, by the <a href="https://help.dotnetflix.com/en/node/2101">DOTNETFLIX family of companies</a>                ("DOTNETFLIX"). DOTNETFLIX will send you certain emails as described when you provided your email address. If you no longer want to receive emails from us, simply access the "Communications Settings" option in the "Account"
                                section of our website and uncheck those items to unsubscribe. Alternatively, click the "unsubscribe" link in the email.
                            </p>
                            <p>We may also use your email address to send you promotional communications on third party services using "matched identifier communications" (see the "Your Choices" section of the <a href="https://help.dotnetflix.com/legal/privacy">Privacy Statement</a>                to learn more). To let us know you prefer that we not communicate with you in this way, please access the “Marketing Communications” option in the “My Profile” section of our website.</p>
                            <p>
                                As described in the <a href="https://help.dotnetflix.com/legal/termsofuse">DOTNETFLIX Terms of Use</a> , the Account Owner (defined in the Terms of Use) whose account you are using may share the account with individuals in his or her household.
                                Please be aware that the Account Owner, and others with whom the account has been shared or made accessible, can see the profile information such as watch history, ratings, reviews and profile information (including your email address
                                or other information in the "My Profile" area of our website). Note that profiles are available to everyone who uses the DOTNETFLIX account, so that anyone with access to the account can navigate to and use, edit or delete profiles.
                                The <a href="https://help.dotnetflix.com/legal/privacy">DOTNETFLIX Privacy Statement</a> also applies (except sections that only apply to the Account Owner, such as those related to payments).
                            </p>
                        </div>
                    </div>
                </div>


            </section>




        </div>

    </div>


</div>