@{
    ViewData["Title"] = "DOTNETFLIX Terms of Usey";
}



    <div class="global-content">

        <div class="container">

            <div class="breadcrumb-container multi-crumbs">

                <div class="breadcrumb text-right">
                    <button class="btn btn-med btn-lightgrey open-print-dialog" alt="Print">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <path d="M19,8 L5,8 C3.34,8 2,9.34 2,11 L2,17 L6,17 L6,21 L18,21 L18,17 L22,17 L22,11 C22,9.34 20.66,8 19,8 Z M16,19 L8,19 L8,14 L16,14 L16,19 Z M19,12 C18.45,12 18,11.55 18,11 C18,10.45 18.45,10 19,10 C19.55,10 20,10.45 20,11 C20,11.55 19.55,12 19,12 Z M18,3 L6,3 L6,7 L18,7 L18,3 Z" id="Shape" fill="#221f1f" fill-rule="nonzero"></path>
                            </g>
                        </svg>
                        <span class="hidden-mobile">Print</span>
                    </button>
                </div>
            </div>

            <h1 class="kb-title">DOTNETFLIX Terms of Use</h1>


            <div class="pane-wrapper">

                <div class="left-pane">

                    <section>
                        <div class="page-block">
                            <div class="c-wrapper">
                                <div>
                                    <p>
                                        DOTNETFLIX provides a service that allows our members to buy movies ("DOTNETFLIX content") streamed over the Internet.
                                    </p>
                                    <p>
                                        These Terms of Use govern your use of our service. As used in these Terms of Use, "DOTNETFLIX service", "our service" or "the service" means the personalized service provided by DOTNETFLIX for discovering and watching
                                        DOTNETFLIX content, including all features and functionalities.
                                    </p>
                                    <ol>
                                        <li>
                                            <p>
                                                <strong>Membership</strong>
                                                <br><br>1.1. Your DOTNETFLIX membership will continue until terminated. To use the DOTNETFLIX service you must have Internet access and provide us with one or more Payment Methods. "Payment Method"
                                                means a current, valid, accepted method of payment, as may be updated from time to time, and which may include payment through your account with a third party. 

                                                <br><br>1.2. We may offer a number of membership plans, including special promotional plans or memberships offered by third parties in conjunction with the provision of their own products and services. Some membership plans may
                                                have differing conditions and limitations, which will be disclosed at your sign-up or in other communications made available to you. 
                                            </p>
                                        </li>                                       
                                        <li>
                                            <p>
                                                <strong>
                                                    Billing and Cancellation

                                                    <br>
                                                </strong><br>3.1. <span class="underline">Billing Cycle.</span> The membership fee for the DOTNETFLIX service will be charged to your Payment Method on the specific billing date indicated on your "Account" page. 
                                       
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>
                                                    DOTNETFLIX Service
                                                    <br>
                                                </strong><br>4.1. You must be 18 years of age, or the age of majority in your province, territory or country.
                                                <br><br>4.2. The DOTNETFLIX service and any content viewed through the service are for your personal and non-commercial use only and may not be shared with individuals beyond your household. During your DOTNETFLIX membership we grant
                                                you a limited, non-exclusive, non-transferable right to access the DOTNETFLIX service and view DOTNETFLIX content. Except for the foregoing, no right, title or interest shall be transferred to you. You agree not to use the service for
                                                public performances.
                                                <br><br>4.3. You may view the DOTNETFLIX content primarily within the country in which you have established your account and only in geographic locations where we offer our service and have licensed such content. 

                                                <br><br>4.4. The DOTNETFLIX service, including the content library, is regularly updated. In addition, we continually test various aspects of our service, including our website, user interfaces, promotional features and availability
                                                of DOTNETFLIX content.

                                                <br><br>4.5. Some DOTNETFLIX content may be available for temporary download and offline viewing on certain supported devices ("Offline Titles"). Limitations apply, including restrictions on the number of Offline Titles per
                                                account, the maximum number of devices that can contain Offline Titles, the time period within which you will need to begin viewing Offline Titles and how long the Offline Titles will remain accessible. Some Offline Titles may
                                                not be playable in certain countries and if you go online in a country where you would not be able to stream that Offline Title, the Offline Title will not be playable while you are in that country.
                                                <br><br>4.6. You agree not to archive, reproduce, distribute, modify, display, perform, publish, license, create derivative works from, offer for sale, or use (except as explicitly authorized in these Terms of Use) content and
                                                information contained on or obtained from or through the DOTNETFLIX service. You also agree not to: circumvent, remove, alter, deactivate, degrade or thwart any of the content protections in the DOTNETFLIX service; use any robot, spider,
                                                scraper or other automated means to access the DOTNETFLIX service; decompile, reverse engineer or disassemble any software or other products or processes accessible through the DOTNETFLIX service; insert any code or product or manipulate
                                                the content of the DOTNETFLIX service in any way; or use any data mining, data gathering or extraction method. In addition, you agree not to upload, post, e-mail or otherwise send or transmit any material designed to interrupt, destroy
                                                or limit the functionality of any computer software or hardware or telecommunications equipment associated with the DOTNETFLIX service, including any software viruses or any other computer code, files or programs. We may terminate
                                                or restrict your use of our service if you violate these Terms of Use or are engaged in illegal or fraudulent use of the service.

                                                <br><br>4.7. The quality of the display of the DOTNETFLIX content may vary from device to device, and may be affected by a variety of factors, such as your location, the bandwidth available through and/or speed of your Internet
                                                connection. HD, Ultra HD and HDR availability is subject to your Internet service and device capabilities. Not all content is available in all formats, such as HD, Ultra HD and HDR, and not all subscription plans allow you to receive
                                                content in all formats. Default playback settings on cellular networks exclude HD, Ultra HD and HDR content. The minimum connection speed for SD quality is 0.5 Mbps; however, we recommend a faster connection for improved video
                                                quality. A download speed of at least 5.0 Mbps per stream is recommended to receive HD content (defined as a resolution of 720p or higher). A download speed of at least 25.0 Mbps per stream is recommended to receive Ultra HD (defined
                                                as a resolution of 1080p or higher) and HDR content. You are responsible for all Internet access charges. Please check with your Internet provider for information on possible Internet data usage charges. The time it takes to begin
                                                watching DOTNETFLIX content will vary based on a number of factors, including your location, available bandwidth at the time, the content you have selected and the configuration of your DOTNETFLIX ready device.
                                                <br><br>4.8. DOTNETFLIX software is developed by, or for, DOTNETFLIX. This software may vary by device and medium, and functionalities and features
                                                may also differ between devices. You acknowledge that the use of the service may require third party software that is subject to third party licenses. You agree that you may automatically receive updated versions of the DOTNETFLIX
                                                and related third-party software.

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Passwords and Account Access.</strong> The member who created the DOTNETFLIX account and whose Payment Method is charged (the "Account Owner") has access and control over the DOTNETFLIX account and the DOTNETFLIX ready devices
                                                that are used to access our service and is responsible for any activity that occurs through the DOTNETFLIX account. You are responsible for updating and maintaining the accuracy of the information you provide to us relating to your account. We can terminate your account or place your account on hold in order to protect you,
                                                DOTNETFLIX or our partners from identity theft or other fraudulent activity.

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Miscellaneous</strong>
                                                <br><br>6.1. <span class="underline">Governing Law.</span> These Terms of Use shall be governed by and construed in accordance with the laws of the Netherlands. These terms will not limit any consumer protection rights that you
                                                may be entitled to under the mandatory laws of your country of residence.
                                                <br><br>6.2. <span class="underline">Unsolicited Materials.</span> DOTNETFLIX does not accept unsolicited materials or ideas for DOTNETFLIX content, and is not responsible for the similarity of any of its content or programming in
                                                any media to materials or ideas transmitted to DOTNETFLIX.
                                                <br><br>6.3. <span class="underline">Customer Support.</span> To find more information about our service and its features or if you need assistance with your account, please visit the DOTNETFLIX Help Center on our website. 
                                               
                                                <br><br>6.4. <span class="underline">Changes to Terms of Use.</span> DOTNETFLIX may, from time to time, change these Terms of Use. We will notify you at least 30 days before such changes apply to you.
                                                <br><br>6.5. <span class="underline">Electronic Communications.</span> We will send you information relating to your account (e.g. payment authorizations, invoices, changes in password or Payment Method, confirmation messages,
                                                notices) in electronic form only, for example via emails to your email address provided during registration.
                                            </p>
                                        </li>
                                    </ol>
                                    <p>
                                    </p>
                                    <p></p>
                                </div>
                            </div>
                        </div>


                        <p><strong>Last Updated:</strong> July 25, 2020</p>

                    </section>
                </div>
            </div>
        </div>
    </div>